language: generic 
sudo: required
services:
    - docker

before_install:
    - docker build -t tony1yao/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true tony1yao/docker-react npm run test

deploy:
    provider: elasticbeanstalk
    region: "ap-southeast-2"
    app: "docker-react"
    env: "Docker-env"
    bucket_name: "elasticbeanstalk-ap-southeast-2-729832760520"
    bucket_path: "docker-react"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY